[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "==6.7"
twine = "*"
setuptools = "*"
tox = "*"
fs = "*"
tqdm = "*"
requests = "*"

[dev-packages]
pyfakefs = "*"

[requires]
python_version = "3.6"
